@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: whitesmoke;
  font-family: 'One Stroke', sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.dark body {
  background: #0C1117;
}

@keyframes pulse-shadow {
  0%, 100% {
    box-shadow: 0px 0px 15px 3px rgba(0, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.5);
  }
}

.dark body main section {
  animation: pulse-shadow 2s infinite;
}

:not(.dark) body main section h3 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

:not(.dark) body main section {
  border-radius: 50px;
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow:  -20px 20px 60px #bebebe,
               20px -20px 60px #ffffff;
}

.dark body main section .bentoCard.bentoCardNoStyle {
  background:transparent;
  border: none;
  box-shadow: none;
}

:not(.dark) body main section .bentoCard:not(.bentoCardNoStyle) {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
}

:not(.dark) body main section .bentoCard:not(.bentoCardNoStyle):hover {
  border-radius: 50px;
  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow:  -20px -20px 60px #bebebe,
              20px 20px 60px #ffffff;
}

@keyframes blueNeonPulse {
  0%, 100% {
    filter: drop-shadow(0 0 1px #0A66C2)
            drop-shadow(0 0 2px #0A66C2)
            drop-shadow(0 0 4px #0A66C2);
  }
  50% {
    filter: drop-shadow(0 0 2px #0A66C2)
            drop-shadow(0 0 4px #0A66C2)
            drop-shadow(0 0 8px #0A66C2);
  }
}

@keyframes greenNeonPulse {
  0%, 100% {
    filter: drop-shadow(0 0 1px #50E855)
            drop-shadow(0 0 2px #50E855)
            drop-shadow(0 0 4px #50E855);
  }
  50% {
    filter: drop-shadow(0 0 2px #50E855)
            drop-shadow(0 0 4px #50E855)
            drop-shadow(0 0 8px #50E855);
  }
}

@keyframes pinkNeonPulse {
  0%, 100% {
    filter: drop-shadow(0 0 1px #FF007F)
            drop-shadow(0 0 2px #FF007F)
            drop-shadow(0 0 4px #FF007F);
  }
  50% {
    filter: drop-shadow(0 0 2px #FF007F)
            drop-shadow(0 0 4px #FF007F)
            drop-shadow(0 0 8px #FF007F);
  }
}

.dark .workStatus {
  filter: drop-shadow(0 0 1px #50E855)
          drop-shadow(0 0 2px #50E855)
          drop-shadow(0 0 8px #50E855);
  animation: greenNeonPulse 2s infinite alternate;
}

:not(.dark) .workStatus .workStatusDot {
  animation: greenNeonPulse 2s infinite alternate;
}

.group .icon svg {
  stroke-width: 1;
  transition: all .5s;
}

:not(.dark) .group:hover .icon.social svg {
  fill: #B0B0B085;
}

.dark .group:hover .icon svg,
.dark .group:hover .icon.social svg {
  fill: transparent;
}

.group:hover .icon.download svg {
  stroke: #6b7280;
}

.dark .group:hover .icon.download svg {
  stroke: #50E855;
  filter: drop-shadow(0 0 1px #50E855)
          drop-shadow(0 0 2px #50E855)
          drop-shadow(0 0 8px #50E855);
  animation: greenNeonPulse 2s infinite alternate;
}

.dark .group:hover .icon.linkedIn svg {
  stroke: #0A66C2;
  filter: drop-shadow(0 0 1px #0A66C2)
          drop-shadow(0 0 2px #0A66C2)
          drop-shadow(0 0 8px #0A66C2);
}

.dark .group:hover .icon.gitHub svg {
  stroke: #B0B0B0;
  filter: drop-shadow(0 0 1px #B0B0B0)
          drop-shadow(0 0 2px #B0B0B0)
          drop-shadow(0 0 8px #B0B0B0);
}

.dark .group:hover .icon.email.contact svg,
.dark .group:hover .icon.email.contact div h4 {
  stroke: #FF007F; 
  color: #FF007F;
  filter: drop-shadow(0 0 1px #FF007F)
          drop-shadow(0 0 2px #FF007F)
          drop-shadow(0 0 8px #FF007F);
  animation: pinkNeonPulse 2s infinite alternate;
}

.group:hover .icon.email.contact div h4 {
  margin-top: 1rem;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

:not(.dark) body main section .swiper-wrapper svg {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.projectCard {
  box-shadow:
    0 0 10px #bebebe,
    0 0 20px #bebebe;
}

.projectCard:hover {
  box-shadow:
    0 0 10px #bebebe,
    0 0 20px #bebebe,
    0 0 30px #bebebe;
}

.dark .projectCard {
  box-shadow: 
    0 0 10px #0ff,
    0 0 20px #0ff;
}

.dark .projectCard:hover,
.dark .projectCard:active {
  box-shadow: 
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 30px #0ff;
}

.dark .projectCard:hover h3,
.dark .projectCard:active h3 {
  color: #0ff;
  text-shadow: 
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 30px #0ff,
    0 0 40px #0ff;
}
