---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import BentoCard from '../components/BentoCard.astro';
import WorkStatus from '../components/WorkStatus.astro';
import SocialLink from '../components/SocialLink.astro';
---

<Layout title="JARESDEV">
	<main class="h-[100svh] w-[100svw] bg-dark flex items-center justify-center max-w-[1920px] mx-auto font-onest">
		<section class="
			w-[calc(100svw-100px)] h-[calc(100svh-100px)]
			p-4 grid grid-cols-2 md:grid-cols-11 md:grid-rows-8 gap-4
			bg-bentoBackground rounded-lg 
			border border-cyan-900/10
			transition-shadow shadow-[0px_0px_15px_3px_rgba(0,255,255,0.3)]">
				<BentoCard specialClassNames={"col-span-2 row-span-3 overflow-hidden relative"}>
					<img src="/profile.jpg" alt="Imagen de perfil" class="absolute inset-0 w-full h-full object-cover transition-transform duration-500 ease-in-out transform hover:scale-110">
				</BentoCard>
				<BentoCard specialClassNames={"col-span-4 row-span-3 flex flex-col justify-center p-24 group"}>
					<h3 class="text-6xl text-gray-300 font-bold mb-8"><span class="inline-block transition-transform -rotate-12 group-hover:animate-[sayHello_.7s_ease-in-out]">👋</span> Hi, I'm Jose</h3>
					<h4 class="text-4xl text-gray-500 font-medium">Full stack developer based in Málaga, Spain</h4>
				</BentoCard>
				<BentoCard specialClassNames={"col-span-2 row-span-3"} />
				<BentoCard specialClassNames={"col-span-3 row-span-1 gap-6 bg-transparent border-none shadow-none flex no-wrap items-center hover:shadow-none"}>
					<WorkStatus />
					<div class="w-1/2 h-1/2 bg-cardBackground rounded-lg border border-slate-500 shadow-[0px_0px_4px_2px_rgba(0,255,255,0.3)] transition-shadow ease-in-out duration-500 hover:shadow-[0px_0px_6px_3px_rgba(0,255,255,0.7)]"></div>
				</BentoCard>
				<BentoCard specialClassNames={"col-span-3 row-span-1 bg-transparent border-none shadow-none flex no-wrap items-center hover:shadow-none flex gap-6"}>
					<SocialLink socialNetwork="linkedIn" />
					<SocialLink socialNetwork="gitHub" />
					<SocialLink socialNetwork="email" />
				</BentoCard>
				<BentoCard specialClassNames={"col-span-3 row-span-3"} />
				<BentoCard specialClassNames={"col-span-8 row-span-2"} />
				<BentoCard specialClassNames={"col-span-4 row-span-3"} />
				<BentoCard specialClassNames={"col-span-4 row-span-3"} />
				<BentoCard specialClassNames={"col-span-3 row-span-3"} />
		</section>
	</main>
</Layout>