---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import BentoCard from '../components/BentoCard.astro';
import WorkStatus from '../components/WorkStatus.astro';
import ThemeToggle from '../components/ThemeToggle';
import SocialLink from '../components/SocialLink.astro';
---

<Layout title="Jaresdev website">
	<main class="w-[calc(100svw-50px)] lg:w-[calc(100svw-100px)] max-w-[1920px] font-onest mx-auto flex items-center justify-center">
		<section class="
			md:min-h-[calc(100svh-100px)] 
			w-[calc(100svw-50px)] md:w-[calc(100svw-100px)]
			flex flex-col lg:grid lg:grid-cols-11 lg:grid-rows-8
			gap-4 rounded-[50px] transition-all duration-300 my-10 p-5 
			dark:bg-bentoBackground dark:border dark:border-cyan-900/10 dark:shadow-[0px_0px_15px_3px_rgba(0,255,255,0.3)]
		">
			<BentoCard specialClassNames={"order-2 lg:order-1 lg:col-span-2 lg:row-span-3 min-h-72 overflow-hidden relative"}>
				<img src="/profile.jpg" alt="Imagen de perfil" class="absolute inset-0 w-full h-full object-cover transition-transform duration-500 ease-in-out transform hover:scale-110">
			</BentoCard>
			<BentoCard specialClassNames={"order-3 lg:order-2 lg:col-span-6 lg:row-span-1 p-8 md:p-10 flex flex-col justify-center group gap-4 md:gap-2"}>
				<h3 class="text-2xl md:text-3xl xl:text-4xl text-gray-700 dark:text-gray-300 font-bold flex gap-2"><span class="inline-block transition-transform -rotate-12 group-hover:animate-[sayHello_.7s_ease-in-out]">👋</span> Hi, I'm Jose</h3>
				<h4 class="text-lg md:text-2xl text-gray-900/80 dark:text-gray-500 font-medium">Full stack developer based in Málaga, Spain</h4>
			</BentoCard>
			<BentoCard specialClassNames={"order-1 lg:order-3 lg:col-span-3 lg:row-span-1 p-8 gap-4 flex flex-row flex-wrap items-center justify-evenly dark:border-none dark:bg-transparent dark:shadow-none dark:hover:shadow-none"}>
				<WorkStatus />
				<ThemeToggle client:load />
			</BentoCard>
			<BentoCard specialClassNames={"order-4 lg:order-5 lg:col-span-3 lg:row-span-1 p-8 flex items-center"}>
				<SocialLink socialNetwork="linkedIn" />
				<SocialLink socialNetwork="gitHub" />
				<SocialLink socialNetwork="email" />
			</BentoCard>
			<BentoCard specialClassNames={"order-5 lg:order-4 lg:col-span-6 lg:row-span-2 p-8"}>About</BentoCard>
			<BentoCard specialClassNames={"order-6 lg:order-6 lg:col-span-3 lg:row-span-3 p-8"}>Left</BentoCard>
			<BentoCard specialClassNames={"order-7 lg:order-7 lg:col-span-4 lg:row-span-2 p-8"}>Center 1</BentoCard>
			<BentoCard specialClassNames={"order-8 lg:order-8 lg:col-span-4 lg:row-span-2 p-8"}>Center 2</BentoCard>
			<BentoCard specialClassNames={"order-9 lg:order-9 lg:col-span-9 lg:row-span-3 p-8"}>Projects</BentoCard>
			<BentoCard specialClassNames={"order-10 lg:order-10 lg:col-span-2 lg:row-span-3 p-8"}>Resume</BentoCard>
		</section>
	</main>
</Layout>