<h3 class="text-3xl text-gray-300 font-bold">About me</h3>
<div class="text-xl text-gray-500 font-medium flex flex-col gap-4 overflow-hidden">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida lacus ac mollis interdum. Fusce quis venenatis velit. Aliquam finibus diam quis nisi dictum fringilla. Cras mattis mattis justo, id molestie ligula ullamcorper vitae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida lacus ac mollis interdum. Fusce quis venenatis velit.</p>
</div>