---
const { lang } = Astro.props
---

<div 
  class="about text-xl text-gray-900/80 dark:text-gray-500 font-medium flex 
    flex-col mt-10 gap-4 overflow-hidden"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    <strong>Vestibulum</strong> gravida lacus ac mollis interdum. Fusce quis 
    venenatis velit. Aliquam finibus diam quis nisi dictum fringilla. Cras mattis 
    mattis justo, id molestie ligula ullamcorper vitae.
  </p>
</div>