---
const { lang } = Astro.props
---

<div 
  class="about text-md text-gray-900/80 dark:text-gray-500 font-medium"
>
  { lang === 'es'
    ? (
      <p>
        <strong>M치s de 5 a침os de experiencia</strong> como desarrollador web.
      </p>
      <p>
        Desarrollador backend con conocimientos de frontend. 쯄e convierte eso
        en <strong>desarrollador fullstack</strong>? 游삒
      </p>
      <p>
        Proactivo, <strong>autodidacta</strong> y siempre en constante aprendizaje.
        Mi pasi칩n por el desarrollo web me ha llevado a participar en proyectos
        de sectores como retail, ecommerce, banca e inversi칩n inmobiliaria, entre otros.
      </p>
      <p>
        Adem치s, tengo experiencia como <strong>Nocode Strategist Manager</strong>, 
        especializado en desarrollo m칩vil con <strong>FlutterFlow</strong>.
      </p>
    )
    : (
      <p>
        <strong>Over 5 years of experience</strong> as a web developer.
      </p>
      <p>
        Backend developer with frontend knowledge. Does that make me a 
        <strong>full-stack developer</strong>? 游삒
      </p>
      <p>
        Proactive, <strong>self-taught</strong>, and always learning. My passion for web 
        development has led me to work on projects in industries like retail, 
        ecommerce, banking, and real estate investment, among others.
      </p>
      <p>
        Additionally, I have experience as a <strong>Nocode Strategist Manager</strong>, 
        specializing in mobile development with <strong>FlutterFlow</strong>.
      </p>
    )
  }
</div>