<a
  href="/CV.pdf"
  class="h-full flex flex-col items-center justify-center gap-12"
>
  <h4 class="text-4xl text-gray-900/80 dark:text-gray-500 font-medium">Download my CV</h4>
  <div class="icon download">
    <svg  
      xmlns="http://www.w3.org/2000/svg"  
      width="80"  
      height="80"  
      viewBox="0 0 24 24"  
      stroke="#c7c7c7"  
      fill="none"
      stroke-width="1"  
      stroke-linecap="round"  
      stroke-linejoin="round"  
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M14 3v4a1 1 0 0 0 1 1h4" />
      <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
      <path d="M12 17v-6" />
      <path d="M9.5 14.5l2.5 2.5l2.5 -2.5" />
    </svg>
  </div>
</a>