---
const { href, subtitle, marginLeft } = Astro.props
---
<a 
  href={href}
  target="_blank"
  class="w-full h-full flex items-center flex-wrap"
>
  <slot />
  <h4 class=`text-md xl:text-2xl text-[#6b7280] dark:text-gray-500 font-medium duration-300 ease-in-out group-hover:mt-6 flex-auto ${marginLeft}`>{subtitle}</h4>
</a> 