---
import Project from "./Project.astro";
---

<div 
  class="w-full my-8 gap-16 flex flex-col md:justify-evenly 
    md:flex-row md:flex-wrap lg:flex-nowrap"
>
  <Project 
    name="âœ‚ï¸ Condensr" 
    technologies={["Astro", "Typescript", "TailwindCSS", "NodeJS"]}
    url="https://condensr.onrender.com/"
    gitHubUrl="https://github.com/jaresdev/condensr"
  />
  <Project 
    name="ðŸ“· Photographer portfolio" 
    technologies={["Astro", "Typescript", "TailwindCSS"]}
    gitHubUrl="https://github.com/jaresdev/photographer_portfolio"
    inProgress=true
  />
</div>