<div class="w-full h-full mt-10 flex justify-evenly">
  <div class="projectCard h-full w-[15%] hover:w-[50%] flex flex-col-reverse px-4 pb-6 gap-3 cursor-pointer bg-gradient-to-t from-slate-300/10 to-transparent to-50% bg-[length:200%_200%] hover:bg-[position:100%_50%] transition-all ease-in-out duration-300 group">
    <div class="flex gap-1 opacity-0 invisible group-hover:opacity-100 group-hover:visible max-h-0 group-hover:max-h-40 transition-all ease-in-out duration-300">
      <span class="text-xs text-slate-300/50 font-extralight border border-slate-300/50 rounded-full px-2">Astro</span>
      <span class="text-xs text-slate-300/50 font-extralight border border-slate-300/50 rounded-full px-2">Astro</span>
      <span class="text-xs text-slate-300/50 font-extralight border border-slate-300/50 rounded-full px-2">Astro</span>
    </div>
    <h3 class="text-lg text-slate-300/50">Ejemplo de título de proyecto</h3>
  </div>
</div>