---
import Project from "./Project.astro";
---

<div class="w-full h-full mt-10 gap-16 flex flex-col md:justify-evenly md:flex-row md:flex-wrap lg:flex-nowrap">
  <Project 
    name="✂️ Condensr" 
    technologies={["Astro", "Typescript", "TailwindCSS"]}
    gitHubUrl="https://github.com/jaresdev/condensr"
  />
</div>