<div class="workStatus px-2 gap-2 max-w-44 lg:w-full h-[40px] sm:h-12 bg-[#C7C7C7] dark:bg-transparent dark:border-2 dark:border-[#50E855] shadow-xl transition-all duration-300 rounded-full flex items-center justify-evenly">
  <div class="size-4 sm:size-6 md:size-4 rounded-full bg-white dark:bg-[#50E855] flex justify-center items-center">
    <div class="workStatusDot size-2 sm:size-4 md:size-2 bg-[#50E855] rounded-full"></div>
  </div>
  <span class="text-sm font-semibold text-white dark:text-[#50E855]">Open to work</span>
</div>