<div class="w-1/2 h-1/2 relative group transition-transform duration-500 ease-in-out transform select-none">
  <div class="absolute w-full h-full border border-[#50E855] blur-md rounded-full"></div>
  <div class="flex flex-row h-full">
    <div class="absolute w-full h-full border border-[#50E855]/20 rounded-full flex flex-row justify-center items-center p-6 gap-3 group-hover:border-[#50E855]/70">
      <div class="w-1/5 h-10 rounded-full flex items-center justify-center">
        <div class="absolute w-6 h-6 rounded-full bg-[#50E855] blur-md group-hover:blur-3xl"></div>
        <div class="absolute w-8 h-8 rounded-full bg-[#50E855]"></div>
      </div>
      <div class="flex-auto h-12 flex items-center justify-center">
        <span class="absolute text-2xl ml-3 text-[#50E855] blur-sm group-hover:blur-3xl">Open to work</span>
        <span class="absolute text-2xl ml-3 text-[#50E855]">Open to work</span>
      </div>
    </div>
  </div>
</div>