<div class="workStatus w-6/12 h-1/2 border-4 dark:border-2 border-[#1b1f2260] dark:border-[#50E855] rounded-full flex items-center justify-evenly">
  <div class="w-8 h-8 rounded-full bg-[#50E855]"></div>
  <span class="text-2xl ml-3 font-bold dark:font-medium text-[#1b1f2260] dark:text-[#50E855]">Open to work</span>
</div>