<div class="workStatus w-6/12 h-1/2 dark:border-2 bg-[#c7c7c7] dark:bg-transparent dark:border-[#50E855] rounded-full flex items-center justify-evenly shadow-xl transition-all duration-300">
  <div class="size-10 dark:size-8 rounded-full bg-white dark:bg-[#50E855] flex justify-center items-center">
    <div class="size-8 bg-[#50E855] rounded-full"></div>
  </div>
  <span class="text-2xl font-bold dark:font-medium text-[#ffffff] dark:text-[#50E855]">Open to work</span>
</div>